extends layout

block layout-content
  div.View
    
    div.Title
    span.Details Span
    div.NavButtons
      a(href="/studentinfo")
          div.NavButton Nav Button
    header
        div.navbar
          a.Banner CatApp
          a(href="/") Home
          a.logo
            // <img src="images/webLogo.svg" alt="" />
          a.therapistName
            p#therapistNameText TEST
            // Text to be changed by js depending on the person logged in
          a.searchBar
            form
              input(type="text" placeholder="Search Students")
              button(type="submit" aria-hidden="true")
                i.fa.fa-search
          a.logoutLink
            a(href="") Logout
    body
      .container
        .mainContent
          main
            .mainheading
              h1
                | Main Heading 
                br
                span#viewPortData
            .strapline
              .straplinetxt
                p
                  | Example Text
                p
                  | Maybe put a table here
                table
                  tr
                    th StudentID
                    th
                    th TherapistID
                    th
                    th Username
                    th
                    th LastReviewed
                    th
                  tr
                table
          .sideBar
            h3 For Something?
            ul
              li
                a(href="") Updates?
              li
                a(href="") Quick Access things
            h3 News
            ul
              li
                a(href="") Latest published stuff
              li
                a(href="") Archive released
    footer
      div.row
        address
          | 123 The High Street
          br
          |             Little SmallTown
          br
          |             Sheffield
          br
          |             S99 7ZZ
      div.footerSocialLinks
          ul
            li
              a(href="" aria-label="Twitter")
                i.fab.fa-twitter
            li
              a(href="" aria-label="Facebook")
                i.fab.fa-facebook
            li
              a(href="" aria-label="Instagram")
                i.fab.fa-instagram
            li
              a(href="" aria-label="YouTube")
                i.fab.fa-youtube
      div.row
        div.footerLinks
          ul
            li
              a(href="") Terms and Conditions
            li
              a(href="") Accessibility
            li
              a(href="") Legal Information
            li
              a(href="") Privacy and GDPR
