extends layout

block layout-content
  div.View.loginView
    html
      body
        head
          meta(charset="utf-8")
          title Login Form Tutorial
        div.login-form
          h1 Login Form
          form(action="auth" method="POST")
            input(type="text" name="username" placeholder="Username" required="")
            input(type="password" name="password" placeholder="Password" required="")
            input(type="submit")